@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--white1);

}

:root {
    --white1: #ffffff;
    --white2: #FEFEFE;
    --black1: #000000;
    --black2: #111111;
    --black3: #222222;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    cursor: pointer;
    width: 18rem;
    height: 4vh;
    border-radius: .6rem;
    border: none;
    background: rgb(99, 246, 99);
    color: var(--black3);
    font-size: 15px;
    font-weight: 600;
    transition: .2s;
    box-shadow: 0 0 5px 1px #333333;
}

button:hover {
    background: rgb(65, 188, 65);
    scale: .98;
}
